/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}
/* FONT */

html {
    font-family: "Roboto", sans-serif;
}

/* LAYOUT */

.full-container {
	margin: 0 auto;
	padding: 0 20px;
}

.container {
	margin: 0 auto;
	padding: 0 350px;
    
}

.col-100 {
    width: 100%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}
/* COLOR */

.bg-azure{
    background-color: rgba(180, 208, 231, 1);
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 45px;
    font-size: 15px;
}

.cta {
    background-color: rgba(0, 97, 255, 1);
    color: white;
    padding: 6px 15px;
}

/* HERO */

.hero-title {
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
}

.hero-p {
    font-size: 11px;
}

.hero-t {
    font-size: 13px;
}

.hero-list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 100px;
}
.hero-list > * {
    margin-bottom: 20px;
}
