/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}
/* FONT */

html {
    font-family: "Roboto", sans-serif;
}

/* CUSTOM PROPRETIES */

:root {
    --blue:  rgba(0, 97, 255, 1);
    --light-blue:  rgba(180, 208, 231, 1);
}
/* LAYOUT */

.full-container {
	margin: 0 auto;
	padding: 0 20px;
}

.container {
	margin: 0 auto;
	padding: 0 350px;
    
}

.container-sm {
	max-width: 1000px;
	margin: 0 auto;
}


.col-12 {
    width: 100%;
}

.col-4 {
    width: calc(4 * (100% / 12));
}

.col-8 {
    width: calc(8 * (100% / 12));
}

.text-sm {
    font-size: 14px;
}
/* COLOR */

.bg-azure{
    background-color: rgba(180, 208, 231, 1);
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
}

/* NAVBAR */

.logo {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-list {
    display: flex;
    gap: 45px;
    font-size: 15px;
}

.cta {
    background-color: rgba(0, 97, 255, 1);
    color: white;
    padding: 6px 15px;
}

/* HERO */

.hero-title {
    font-size: 70px;
    font-weight: bolder;
    padding-bottom: 40px;
}

.hero-container {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start; 
}

.hero-icon {
    font-size: 50px;
    margin-top: auto;
}



/* PLANS SECTION */

.container-sm h2 {
    padding-top: 160px;
    font-size: 30px;
}

.toggle-actions {
    display: flex;
    padding-top: 60px;
    padding-bottom: 30px;
    gap: 50px;
}

/* CARD */
.card__header {
    border: 1px solid rgba(217, 217, 217, 1);
    text-align: center;
    border-bottom: none;
}

.card__body {
    border: 1px solid rgba(217, 217, 217, 1);
}

.card__body ul {
    padding: 40px 30px;
}

.card__body li:not(:last-child){
    padding-bottom: 20px;
}

.cta-card {
    align-self: center;
}

.shop-now {
    text-decoration: underline;
    color: var(--blue);
}

.fa-check {
    color: var(--blue);
}

/* DEBUG */

.debug [class^='container'] {
	border: 2px solid black;
	padding-top: 20px;
}

.debug .row {
	border: 2px solid red;
	padding: 20px;
}

.debug .row > * {
	padding: 20px;
	border: 2px solid cornflowerblue;
}